*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
	overflow:hidden;

}
.header{
    background: #00122e;
    position: relative;

}
nav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #182842;
    width: 120px;
    padding: 10px 0;

}
nav .logo{
    width: 56px;
    display: block;
    margin: auto;
    cursor: pointer;
}
nav ul{
    margin-top: 160px;

}
nav ul li{
    list-style: none;

}
nav ul li img{
    width: 50px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 10px;
    transition: opacity 0.5s, background 0.5s;
}
nav ul li img:hover{
    opacity: 1;
    background: #4d6181;

}
.active{
    opacity: 1;
    background: #4d6181;
}
.container{


}
.top-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0;

}
.top-icons img{
    width: 25px;
    margin-left: 40px;
    cursor: pointer;

}
.row{
    width: 100%;
    height: 100%;

}
.col-1{
    width: 100%;
    height: 100%;

}
.col-2{
    height: 20%;
    position: absolute;
    bottom: 50px;
    border-radius: 52px;
    right: 50px;
}
.host-img{
    width: 100%;
	height: 100%;
    border-radius: 15px;
}
.contarols{
  display: flex;
    justify-content: center;
    POSITION: absolute;
    BOTTOM: 0;
    align-items: center;
    flex-direction: row;
    LEFT: 25%;
    RIGHT: 25%;
}
.contarols img{
    width: 40px;
    margin: 20px 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
.contarols .call-icon{
    width: 70px;

}
.contarols img:hover{
    transform: translateY(-10px);

}
.joined{

}
.joined div{
    width:fit-content;

}
.joined img{
}
.invite{
    background: #182842;
    border-radius: 15px;
    padding: 30px 40px 50px;
    color: #fff;
    margin-top: 20px;

}
.invite img{
    margin-top: 20px;
    width: 50px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}